:root {
    /*set global colours */
    --theme: #f3d0d0;
    --mainText: rgb(164, 26, 49);

    font-family: "Lucida Console", "Courier New", monospace;;
  }
  /*set background colour and navbar colour*/
body {
    margin: 0 auto;
    background-color: #fceded;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
.bg-dark {
    background-color: #cc4545 !important;
  }
  /*change how navbar links work when hovered*/
nav a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    background-color: var(--highlight);
    filter: brightness(125%);
  }
  
  /*remove links and footer on a small screen*/
@media only screen and (max-width: 600px) {
.custom-nav {
      display: none !important;
    }
    /*align the two out of line boxes*/
.gg,
.space-invaders {
      margin-left: 25% !important;
    }
  
footer {
      display: none;
    }
  }
  
.heroBackground {
    height: 255vh;
    background-color:#cc4545;
    background-size: cover;
    background-repeat: var(--bs-accordion-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn-primary {
    
    --bs-btn-border-color: #f3d0d0;
    --bs-btn-hover-color:#f3d0d0;
    --bs-btn-hover-bg: #cc4545;
    --bs-btn-hover-border-color: #cc4545;
  
}
  /*set text colour*/
  h1 {
    color: #cc4545 !important;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 40px;
    font:bold;
  }
  p {
    color: #cc4545 !important;
  }
  a {
    color: #cc4545 !important;
  }
  h2 {
    color: #cc4545 !important;
  }
  h3 {
    color: #cc4545 !important;
  }
  h4 {
    color: #cc4545 !important;
  }
  .main 
  h5 {
    color: var(rgb(237, 232, 232)) !important;
  }
  
  h3,
  .heading {
    text-decoration: underline;
    color: var(--mainText);
    text-underline-offset: 2px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #cc4545;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: large;
    font: bold;
  }
  
  /*add image to jumbo tron and centre content inside of it*/
  .heroBackground {
    height: calc(50vh);
    background-image: url(../images/02-portfolio-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* setting features of text in jumbotron*/
  .jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: var(--mainText);
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
  .heading {
    width: 100%;
    text-align: center;
    padding-right: 20px;
    position: block;
  }
  
  /*set height and width of main card as well as brightness*/
  .mso {
    background-image: url(../images/mso.png);
    height: 300px;
    background-size: cover;
    filter: brightness(50%);
    width: 50%;
    margin-left: 25%;
    margin-bottom: 25px;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  

  /*set main size of other grids*/
  .gg,
  .tig,
  .space-invaders,
  .aspf {
    height: 300px;
    width: 500px;
    filter: brightness(25%);
    width: 50%;
    margin-left: 25%;
    margin-bottom: 25px;
  }
  

  /*set shadow for box inside of project and postion*/
  .pText {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: end;
    background-color: #03034f66;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
  /*use boostrap default variables to modify accordion to fit theme*/
  
  
  
  
  /*set the hieght and color for contact me section*/
  .contact-me {
    text-align: centre;
    background-color: !important;
    height: 200px;
    margin-bottom: 100px !important;
    margin-left: 8px;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
  
  .contact-card {
    background-color: #f3d0d0!important;
  }
   #about-me {
    text-align: left;
    font-weight: bold;
    font-size: medium;
    color: rgb(248, 248, 248);
    padding: 30px;
    background-image: url(../images/Banners.jpg);
    font-family: "Lucida Console", "Courier New", monospace;
    }
 
    #contact-me {
    text-align: left;
    font-weight: bold;
    font-size: medium;
    color: rgb(248, 248, 248);
    padding: 30px;
    background-image: url(../images/Banners.jpg);
    font-family: "Lucida Console", "Courier New", monospace;
    }

    #my-work {
    text-align: left;
    font-weight: bold;
    font-size: medium;
    color: rgb(248, 248, 248);
    padding: 30px;
    background-image: url(../images/Banners.jpg);
    font-family: "Lucida Console", "Courier New", monospace;
    }
     
    #cv {
    text-align: left;
    font-weight: bold;
    font-size: medium;
    color: rgb(248, 248, 248);
    padding: 30px;
    background-image: url(../images/Banners.jpg);
    font-family: "Lucida Console", "Courier New", monospace;
    }
        
    #skills {
        text-align: left;
        font-weight: bolder;
        font-size: medium;
        color: #cc4545;
        padding: 30px;
        background-image: url(../images/Banners.jpg);
        font-family: "Lucida Console", "Courier New", monospace;

    }


  /*spaced the footer and colored it to differentiate and center the text*/


  container text-center {

  }
  footer {
    padding: 20px;
    width: 100%;
    background-color: var(--highlight);
    text-align: center;
    font-size: 30px;
    font-family: "Lucida Console", "Courier New", monospace;
  }
{ 
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;


  }




 


  


